@model IEnumerable<TradingERP.Models.DealerMaster>

@{
    ViewData["Title"] = "Dealer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <h1>Dealers</h1>

    <p class="float-right btn btn-primary">
        <a class="text-white" asp-action="Create">Create New</a>
    </p>
    <table class="table bg-white p-2">
        <thead>
            <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.DlrName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DlrContactNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DlrCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DlrStatus)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DlrName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DlrContactNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DlrCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DlrStatus)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Dealer", new { id = item.DlrId })"><i class="fa fa-pen"></i></a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Dealer", new { id = item.DlrId })" onclick="return confirm('Are you sure you want to delete this record?');"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
   
}