@model TradingERP.Models.RegisterMaster

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container-fluid">

<h4>Edit Register Entry</h4>

        <form asp-action="Edit" id="frmRegister" class="row bg-white p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsmId" />
            <div class="form-group col-md-3">
                <label for="RgmDate" class="control-label">Date <span class="text-danger">*</span></label>
            <input asp-for="RgmDate" value="@Model.RgmDate.ToString("dd-MMM-yyyy")" type="text" class="form-control datepicker-here" data-language="en" required data-val="true" data-val-required="Please select date" />
                <span asp-validation-for="RgmDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3" >
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmParty">Party <span class="text-danger">*</span></label>
                
            </div>
            <select asp-for="RgmParty" class="form-control" required data-val="true" data-val-required="Please select party" >
                <option value="">Select Party</option>
                @foreach (var prt in ViewData["partyList"] as IEnumerable<PartyMaster>)
                {
                    <option value="@prt.PrtName">@prt.PrtName</option>
                }
            </select>

            <span asp-validation-for="RgmParty" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmSite">Site <span class="text-danger">*</span></label>
               
            </div>
            <select asp-for="RgmSite" class="form-control" required data-val="true" data-val-required="Please select Site" >
                <option value="">Select Site</option>
                @foreach (var prt in ViewData["siteList"] as IEnumerable<SiteMaster>)
                {
                    <option value="@prt.StmName">@prt.StmName</option>
                }
            </select>
                <span asp-validation-for="RgmSite" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmVehicleNo">Vehicle No <span class="text-danger">*</span></label>
                
            </div>
            <select asp-for="RgmVehicleNo" class="form-control" required data-val="true" data-val-required="Please select vehicle no">
                <option value="">Select Vehicle No</option>
                @foreach (var prt in ViewData["vehicleNoList"] as IEnumerable<VehicleNoMaster>)
                {
                    <option value="@prt.VnmNo">@prt.VnmNo</option>
                }
            </select>
                <span asp-validation-for="RgmVehicleNo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmItem">Item <span class="text-danger">*</span></label>
                
            </div>
            <select asp-for="RgmItem" class="form-control" required data-val="true" data-val-required="Please select item">
                <option value="">Select Item</option>
                @foreach (var prt in ViewData["itemList"] as IEnumerable<ItemMaster>)
                {
                    <option value="@prt.ItmName">@prt.ItmName</option>
                }
            </select>
                <span asp-validation-for="RgmItem" class="text-danger"></span>
            </div>
        <div class="form-group col-md-3" >
            <label for="RgmQty" class="control-label">Qty <span class="text-danger">*</span></label>
            <input asp-for="RgmQty" class="form-control" required data-val="true" data-val-required="Please select date" />
            <span asp-validation-for="RgmQty" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label for="RgmRate" class="control-label">Rate </label>
            <input asp-for="RgmRate" class="form-control" />
            <span asp-validation-for="RgmRate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label for="RgmTotal" class="control-label">Total <span class="text-danger">*</span></label>
            <input asp-for="RgmTotal" class="form-control" required data-val="true" data-val-required="Please select date" />
            <span asp-validation-for="RgmTotal" class="text-danger"></span>
        </div>
            <div class="form-group col-md-3">
            <label for="RgmType" class="control-label">Type <span class="text-danger">*</span></label>
            <select asp-for="RgmType" class="form-control"  >
               <option value="Liz">Liz</option>
               <option value="Dealer">Dealer</option>
            </select>
                <span asp-validation-for="RgmType" class="text-danger"></span>
            </div>
        <div class="form-group col-md-3" style="display:none;" id="dealerDiv">
            
            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmDealer">Dealer <span class="text-danger">*</span></label>
               
            </div>
            <select asp-for="RgmDealer" class="form-control" data-live-search="true">
                <option value="">Select Dealer</option>
                @foreach (var prt in ViewData["dealerList"] as IEnumerable<DealerMaster>)
                {
                    <option value="@prt.DlrName">@prt.DlrName</option>
                }
            </select>
            <span asp-validation-for="RgmDealer" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" style="display:none;" id="lizDiv">

            <div class="d-flex justify-content-between align-items-center">
                <label class="control-label" for="RgmLiz">Liz <span class="text-danger">*</span></label>
                
            </div>
            <select asp-for="RgmLiz" class="form-control" data-live-search="true">
                <option value="">Select Liz</option>
                @foreach (var prt in ViewData["lizList"] as IEnumerable<LizMaster>)
                {
                    <option value="@prt.LzmName">@prt.LzmName</option>
                }
            </select>
            <span asp-validation-for="RgmLiz" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" id="RateDiv">
            <label asp-for="RgmRate1" class="control-label"></label>
            <input asp-for="RgmRate1" class="form-control" />
            <span asp-validation-for="RgmRate1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" id="TotalDiv">
            <label for="RgmTotal1" class="control-label">Total <span class="text-danger">*</span></label>
            <input asp-for="RgmTotal1" class="form-control" required data-val="true" data-val-required="Please select date" />
            <span asp-validation-for="RgmTotal1" class="text-danger"></span>
        </div>
        
          
       @*  <div class="form-group col-md-3">
            <label asp-for="RgmDriver" class="control-label"></label>
            <select asp-for="RgmDriver" class="form-control selectpicker" data-live-search="true">
                <option value="">Select Driver</option>
                @foreach (var drv in ViewData["driverList"] as IEnumerable<DriverMaster>)
                {
                    <option value="@drv.DrmName">@drv.DrmName</option>
                }
            </select>
            <span asp-validation-for="RgmDriver" class="text-danger"></span>
        </div> *@
       
       
           
           
           <div class="col-md-12 m-3">
            @if (ViewBag.response!=null)
            {
                if (ViewBag.response == "Success")
                {
                    <span class="alert alert-success">Record created successfully.</span>
                }
                else
                {
                    <span class="alert alert-danger">@ViewBag.response</span>
                }
            }
            <span class="m-3" id="frmMsg"></span>
           </div>
           
            
            <div class="form-group col-md-12 mt-3">
                <input type="submit" id="btnCreate" value="Save" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
   



</div>

<script src="~/js/Register.js"></script>