@model IEnumerable<TradingERP.Models.RegisterMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

<h1>Register</h1>

    <p class="float-right btn btn-primary">
        <a class="text-white" asp-action="Create">Create New</a>
    </p>
    <table class="table bg-white p-2">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.RgmDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmVehicleNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmDealer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RgmDriver)
            </th>
           
           @*  <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @item.RgmDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmVehicleNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmDealer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgmDriver)
            </td>
           
           @* 
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
</div>